<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aps.yinghai.mapper.igtos.BizTideMapper">

    <select id="listAfterDate" resultType="com.aps.yinghai.iGTOS.BizTide">
        select * from  BIZ_TIDE_DATA where TO_DATE(TIDE_DATE,'yyyy-MM-dd') &gt; #{tideDate}
    </select>

</mapper>
